.compass {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    border-radius: 50%;
    position: relative;
}

.base {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.needle {
    width: 2px;
    height: 100px;
    background-color: #ff0;
    position: absolute;
    transform-origin: 50% 0;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}
